#intro{
  background: linear-gradient(to bottom, #2da7ed ,#0e4666);
  justify-content: normal;
}

#imagem{
  margin-top: 15px;
}

#grafo{
  background-color: #dbdbdb;
  height: 400px;
  width: 850px;
  border-radius: 15px;
}

#footer{
  background-color: #dbdbdb;
  width: 100%;
  height: 30px;
  margin-
}

.figuras {
  margin-left: auto;
  margin-right: auto;
  margin-bottom:25px;
}

#botoes{
  background-color: #dbdbdb;
  height: 235px;
  width: 850px;
  border-radius: 15px;
}

.fo{
  font-size: 12px;
}

.fcolums{
  margin-top: 15px;
}
.alchemy text {
  font-weight: 400px !important;
  color:black !important;
  fill: initial !important;
  text-shadow: 1px 1px #ddd, -1px 1px #ddd, 1px -1px #ddd, -1px -1px #ddd !important;
}
.nome {
  font-size: 25px;
  font-weight: bold;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.position {
  margin-left:auto;
  margin-right:auto;
  margin-bottom:25px;
  height: 40px;
}